<footer class="footer footer-horizontal footer-center bg-base-200 text-base-content rounded p-10 " style="position: relative; bottom: 0;">
  <nav class="grid grid-flow-col gap-4">
    <%= link_to "About", home_about_path %>
    <%= link_to "Rules", home_rules_path %>

  </nav>

  <aside>
    <p>Copyright © <%= Time.now.year %> - All right reserved by EkGadha </p>
  </aside>
</footer>

