<%= link_to root_path, class: "block" do %>
  <div class="hero w-full justify-center flex p-10 items-center">
    <img src="<%= asset_path('iotachan_logo.png') %>" alt="logo" class="main_logo">
    <h1 class="font-logo text-7xl text-center text-success-content mt-10">iOTA chan</h1>
  </div>
<% end %>
