@import "tailwindcss";
/*importing daisyUI*/
@plugin "daisyui"{
  /* theme colors - https://daisyui.com/docs/colors/ */
  themes: all;

}

/*these are standard breakpoints, mentioned here onlyt for references, so coding becomes easier*/
@theme {

  --font-logo: "Borel";
  --font-default: "Courier Prime";

  --breakpoint-sm: 500px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-Xl: 1280px;
  --breakpoint-2Xl: 1536px;
}

@layer utilities {
  .main_logo{
    max-height: 200px;
  }
}
